body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

.input-area{
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #1400a8b3, #00c5e8);
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-area {
  height: auto;
  min-width: 30rem;
  padding: 0 1em;
  margin: 1em;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dropdown-menu{
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  }


.input-group > .form-control{
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .content-area {
    min-width: 20rem;
  }
}